.square {
  width: 200px;
  height: 200px;
  border: 3px solid rgb(60, 60, 60);
  margin: 10px;
}
.blue {
  background-color: blue;
}
.pink {
  background-color: pink;
}
.purple {
  background-color: purple;
}
.orange {
  background-color: orange;
}
.green {
  background-color: green;
}
.container {
  width: 1000px;
  border: 3px solid rgb(60, 60, 60);
  background-color: gray;
  padding: 20px;
}

/* Mobile Device */
/* @media all and (min-width: 768px) {
  .container {
    width: 300px;
  }

  .green {
    background-color: brown;
  }
} */
